*{
  margin: 0;
  padding:0 ;
}

html{
  font-family: monospace;
  font-size: 25px;
}

.board{
  width: 80vw;
  margin: 0 10vw;
  height: 80vh;
  display: flex;
  background-color: rgb(190, 189, 240);
}
.board > div{
  display: flex;
  flex-direction: column;
  width: 33%;
  gap:10px;
  padding: 60px;
  overflow-x:hidden;
  border:  solid black 2px;
}

.task{
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.todo .task{
  background-color:rgb(255, 70, 70);
  padding: 10px;
}

.inProgress .task{
  background-color:rgb(255, 240, 70);
  padding: 10px;
}

.done .task{
  background-color:rgb(120, 255, 99);
  padding: 10px;
}

.buttons{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.buttons button{
  padding: 20px;
}

.title{
  text-align: center;
  font-weight: bold
}

.userInput{
  display: flex;
  justify-content: center;
  padding: 20px;
  gap:10px
}

.userInput button{
  padding: 20px;
}

.userInput input{
  font-size: 20px;
  padding-left: 10px;
}